<html>
<head>
	<title>Test Page</title>
  <link rel="stylesheet" href="css/style.css">

</head>
<body>
<h1>Welcome!</h1>
<p>Pickle Riiiiiiiiiiiiiiiiiiick</p>
<img src="DSC_0601.jpg" alt="Sunset" height="1000" width="1000">
</body>
</html>
